/* Common styles for all screen sizes */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}


#camScan {
  z-index: 3;
  display: none;
  /* position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

#video {
  max-height: 30%;
  max-width: 90%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#capture {
  position: absolute;
  bottom: 57%;
  z-index: 2;
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#capture i {
  font-size: 24px;
  margin-left: 5px;
}

button:hover i {
  color: red;
}

#myCrop {
  display: none;
}

.display {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


#extract_file {
  display: none;
}

#file-input {
  display: none;
}

#single-input {
  display: none;
}

#fileType {
  display: flex;
  justify-content: space-between;
}

#fileType i {
  flex: 1;
  text-align: center;
}

#close {
  color: grey;
  position: absolute;
  /* bottom: 10px; */
  z-index: 3;
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
}

#close i {
  color: grey;
  font-size: 24px;
}

#close:hover i {
  color: red;
}


#canvas {
  position: absolute;
  z-index: 2;
  display: none;
}

#camSect{
  max-height: 500px;
}

/* #capture {
  position: absolute;
  bottom: 20px;
  z-index: 2;
} */

#blurrer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
  background-color: #333;
  box-sizing: border-box;
}

input[type="file"],
textarea,
input[type="text"],
button,
#response,
#summary,
#loader {
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

input[type="file"] {
  cursor: pointer;
}

button {
  background-color: #1f56c3;
  color: #fff;
  cursor: pointer;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 759px) {
  /* Styles for mobile devices */
  body {
    padding: 0;
  }

  input[type="file"],
  textarea,
  input[type="text"],
  button,
  #response,
  #summary
   {
    padding: 10px;
    margin: 10px;
    font-size: 0.8rem;
  }

  #fileType {
      flex-wrap: wrap;
    }
    
  #fileType i {
      flex-basis: 100%;
    }

  input[type="file"] {
    padding: 10px;
    margin: 10px;
  }
  textarea#output{
      width: 90%;
  }
  div#response {
  width: 90%;
}
  button {
    padding: 10px 20px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.output-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  div {
    margin: 10px;
  }
.prompt{
  display: flex;
  flex-direction: row;

}
#loader {
display: none;
border: 6px solid #f3f3f3; /* Light grey */
border-top: 6px solid #3498db; /* Blue */
border-radius: 50%;
/* width: 30px;
height: 30px; */
animation: spin 2s linear infinite;
position: absolute;
/* top: 40%; */
left:40%;
transform: translate(-50%, -50%);
z-index: 1;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  /* Styles for tablet devices */
  input[type="file"],
  textarea,
  input[type="text"],
  button,
  #response,
  #summary,
  #loader {
    padding: 15px;
    margin: 15px;
    font-size: 1rem;
  }

  #loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    /* width: 30px;
    height: 30px; */
    animation: spin 2s linear infinite;
    position: absolute;
    /* top: 70%; */
    left:70%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  input[type="file"] {
    padding: 15px;
    margin: 15px;
  }

  button {
    padding: 15px 30px;
  }
}

@media only screen and (min-width: 1025px) {
  /* Styles for laptop and desktop devices */
  input[type="file"],
  textarea,
  input[type="text"],
  button,
  #response,
  #summary,
  #loader {
    padding: 20px;
    margin: 20px;
    font-size: 1rem;
  }

  input[type="file"] {
    padding: 20px;
    margin: 20px;
  }

  button {
    padding: 20px 40px;
  }
}

#loader {
  display: none;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;

  animation: spin 2s linear infinite;
  position: absolute;
  /* top: 60%; */
  left:40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (min-width: 1025px) {
  /* Styles for laptop and desktop devices */
  input[type="file"],
  textarea,
  input[type="text"],
  button,
  #response,
  #summary,
  #loader {
    padding: 20px;
    margin: 20px;
    font-size: 1rem;
  }

  input[type="file"] {
    padding: 20px;
    margin: 20px;
  }

  button {
    padding: 20px 40px;
  }
}
